In [1]:
## Miriam Marsh - Guided Project - 1/18/2023

1.Create a function that will loop through the industry column using  a  list (you will create the list by taking the info from the industries column you should 
delete a few industries and add another 5) The function should check which  industry exists and how many times if it doesn't exist it should return 0 times then 
convert every industry with its count to a dict and check the same thing, time both and explain what happened.
2.Convert a few columns of your choice into a tuple ,and then do different lookups and time the diff between df and tuples.
3.create a binary search for the location column and search for a few existing elements if doesn't exist return False and if exists return True. 
(you can google ready codes for binary lookup...) . try doing in list and set. (dont forget to sort first) and time both.

In [2]:
import csv
import pandas as pd
import numpy as np
import time

In [3]:
df = pd.read_csv("fake_job_postings.csv")
df

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17875,17876,Account Director - Distribution,"CA, ON, Toronto",Sales,NaN,Vend is looking for some awesome new talent to...,Just in case this is the first time you’ve vis...,To ace this role you:Will eat comprehensive St...,What can you expect from us?We have an open cu...,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Sales,0
17876,17877,Payroll Accountant,"US, PA, Philadelphia",Accounting,NaN,WebLinc is the e-commerce platform and service...,The Payroll Accountant will focus primarily on...,- B.A. or B.S. in Accounting- Desire to have f...,Health &amp; WellnessMedical planPrescription ...,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0
17877,17878,Project Cost Control Staff Engineer - Cost Con...,"US, TX, Houston",NaN,NaN,We Provide Full Time Permanent Positions for m...,Experienced Project Cost Control Staff Enginee...,At least 12 years professional experience.Abil...,NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0
17878,17879,Graphic Designer,"NG, LA, Lagos",NaN,NaN,NaN,Nemsia Studios is looking for an experienced v...,1. Must be fluent in the latest versions of Co...,Competitive salary (compensation will be based...,0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0
17879,17880,Web Application Developers,"NZ, N, Wellington",Engineering,NaN,Vend is looking for some awesome new talent to...,Who are we?Vend is an award winning web based ...,We want to hear from you if:You have an in-dep...,NaN,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Engineering,0

In [4]:
df.columns

Index(['job_id', 'title', 'location', 'department', 'salary_range',
       'company_profile', 'description', 'requirements', 'benefits',
       'telecommuting', 'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'industry', 'function',
       'fraudulent'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_id               17880 non-null  int64
 1   title                17880 non-null  object
 2   location             17534 non-null  object
 3   department           6333 non-null   object
 4   salary_range         2868 non-null   object
 5   company_profile      14572 non-null  object
 6   description          17879 non-null  object
 7   requirements         15185 non-null  object
 8   benefits             10670 non-null  object
 9   telecommuting        17880 non-null  int64
 10  has_company_logo     17880 non-null  int64
 11  has_questions        17880 non-null  int64
 12  employment_type      14409 non-null  object
 13  required_experience  10830 non-null  object
 14  required_education   9775 non-null   object
 15  industry             12977 non-null  object
 16  function             11425 non-null  object
 17  fraudulent           17880 non-null  int64
dtypes: int64(5), object(13)
memory usage: 2.5+ MB

In [6]:
df["industry"].astype

<bound method NDFrame.astype of 0                              NaN
1        Marketing and Advertising
2                              NaN
3                Computer Software
4           Hospital & Health Care
                   ...
17875            Computer Software
17876                     Internet
17877                          NaN
17878               Graphic Design
17879            Computer Software
Name: industry, Length: 17880, dtype: object>

In [7]:
print(df["industry"])

0                              NaN
1        Marketing and Advertising
2                              NaN
3                Computer Software
4           Hospital & Health Care
                   ...
17875            Computer Software
17876                     Internet
17877                          NaN
17878               Graphic Design
17879            Computer Software
Name: industry, Length: 17880, dtype: object

In [8]:
df["industry"].isnull

<bound method Series.isnull of 0                              NaN
1        Marketing and Advertising
2                              NaN
3                Computer Software
4           Hospital & Health Care
                   ...
17875            Computer Software
17876                     Internet
17877                          NaN
17878               Graphic Design
17879            Computer Software
Name: industry, Length: 17880, dtype: object>

df[df["industry"]==('Broadcast Media')]

In [9]:
industry_list=df["industry"].tolist()

In [10]:
del(industry_list[:10])

In [11]:
df["industry"].value_counts()

Information Technology and Services    1734
Computer Software                      1376
Internet                               1062
Marketing and Advertising               828
Education Management                    822
                                       ...
Shipbuilding                              1
Sporting Goods                            1
Museums and Institutions                  1
Wine and Spirits                          1
Ranching                                  1
Name: industry, Length: 131, dtype: int64

In [12]:
print(industry_list[:10])

['Information Technology and Services', nan, 'Management Consulting', 'Events Services', 'Internet', 'Facilities Services', 'Internet', nan, nan, nan]

In [13]:
len(industry_list)

17870

We changed the industry column on the data frame to a list. I named the list "industry_list". 
We than deleted 10 rows. We than checked the length before and after to make sure they were delted.

In [14]:
new_Industry_rows = ["Tefilin Services", "Pesach Cleaning Services", "Succah Building Services", "Purim Baskets Services", "Matzah Baking Services"]
# industry_list.append(new_Industry_rows)

In [15]:
len(industry_list)

17870

In [16]:
print(industry_list[-10:])

['Retail', 'Oil & Energy', 'Internet', 'Utilities', 'Computer Software', 'Computer Software', 'Internet', nan, 'Graphic Design', 'Computer Software']

In [17]:
len(industry_list)

17870

In [18]:

'Tefilin Services' in industry_list

False

In [19]:
industry_list.extend(new_Industry_rows)

In [20]:
len(industry_list)

17875

In [21]:
print(industry_list[-10:])

['Computer Software', 'Internet', nan, 'Graphic Design', 'Computer Software', 'Tefilin Services', 'Pesach Cleaning Services', 'Succah Building Services', 'Purim Baskets Services', 'Matzah Baking Services']

1.Create a function that will loop through the industry column using  a  list (you will create the list by taking the info from 
the industries column you should delete a few industries and add another 
5) The function should check which  industry exists and how many times 
 if it doesn't exist it should return 0 times then convert every industry with its count to a dict and check the same thing,
  time both and explain what happened.

#most_donuts = donut_list[0]
for c in industry_list:
    i=0
    ##print('i:', i)
    #print('most_donuts:', industry_list)
    if c in industry_list:
        i+=0
print(c, i)

counter_dict = {}
def industry(x):
        
        for i in industry_list:
            c=0
            if i == "nan":
                print(0)
            else:
                c+=1
            print(i,c)

In [22]:
#industry_list.unique()

def industry(x):
    c=0
    for i in industry_list:
        if  i in df[industry]:
                c+=1
        elif i == "NaN":
            c=0
        else:
            c+=1
        print(x, c)

def industry_lookup(a,b):
    industry_dict = {}
    for t in industry_list:
        for m in dfilist:
            if m == t:
                x =1
                industry_dict[t] += x
    return industry_dict

def industry(x):
    c=0
    for i in industry_list:
        if  i in df[industry]:
                c+=1
        elif i == "NaN":
            c=0
        else:
            c+=1
        print(x, c)

In [23]:
dfilist = df["industry"].tolist()

def industry_lookup():
    industry_dict = {}
    for t in industry_list:
        for m in dfilist:
            if m == t:
                x =1
                industry_dict[t] += x
    return industry_dict

industry_lookup()

def industry():
    c=0
    count_list=[]
    for i in industry_list:
       # c+=0
        if i in dfilist:
            
            print(i)
    #        c+=1
    
    #     # else:
    #     #     c+=1
    #     count_list.append(i)
    #     count_list.append(c)
    # print(count_list)

In [24]:

def industry(a,b):
    counts = dict()
    for i in industry_list:
       # c+=0
        #if i in dfilist:
            counts[i] = counts.get(i, 0) + 1
           # print(i)
    print(counts)        
    #        c+=1
    #     # else:
    #     #     c+=1
    #     count_list.append(i)
    #     count_list.append(c)
    # print(count_list)

In [25]:
industry_count_dict = industry(industry_list, dfilist)
print(industry_count_dict)

{'Information Technology and Services': 1733, nan: 4899, 'Management Consulting': 130, 'Events Services': 50, 'Internet': 1062, 'Facilities Services': 94, 'Consumer Electronics': 62, 'Telecommunications': 342, 'Online Media': 100, 'Hospital & Health Care': 496, 'Consumer Services': 358, 'Computer Software': 1375, 'Construction': 158, 'Oil & Energy': 287, 'Marketing and Advertising': 827, 'Education Management': 822, 'Financial Services': 778, 'Building Materials': 78, 'Banking': 84, 'Food & Beverages': 72, 'Food Production': 44, 'Health, Wellness and Fitness': 127, 'Insurance': 123, 'E-Learning': 139, 'Cosmetics': 65, 'Staffing and Recruiting': 127, 'Venture Capital & Private Equity': 29, 'Leisure, Travel & Tourism': 76, 'Human Resources': 108, 'Pharmaceuticals': 42, 'Farming': 24, 'Legal Services': 97, 'Luxury Goods & Jewelry': 4, 'Machinery': 11, 'Real Estate': 175, 'Mechanical or Industrial Engineering': 37, 'Public Relations and Communications': 58, 'Consumer Goods': 63, 'Medical Practice': 60, 'Electrical/Electronic Manufacturing': 73, 'Hospitality': 88, 'Music': 10, 'Market Research': 54, 'Automotive': 120, 'Philanthropy': 4, 'Utilities': 33, 'Primary/Secondary Education': 6, 'Logistics and Supply Chain': 112, 'Design': 129, 'Gambling & Casinos': 42, 'Accounting': 159, 'Environmental Services': 49, 'Mental Health Care': 23, 'Investment Management': 6, 'Apparel & Fashion': 97, 'Media Production': 48, 'Publishing': 39, 'Medical Devices': 19, 'Information Services': 28, 'Retail': 223, 'Sports': 23, 'Computer Games': 86, 'Chemicals': 22, 'Aviation & Aerospace': 24, 'Business Supplies and Equipment': 18, 'Program Development': 9, 'Computer Networking': 44, 'Biotechnology': 38, 'Civic & Social Organization': 55, 'Religious Institutions': 6, 'Warehousing': 51, 'Airlines/Aviation': 63, 'Writing and Editing': 19, 'Restaurants': 52, 'Outsourcing/Offshoring': 19, 'Transportation/Trucking/Railroad': 53, 'Wireless': 4, 'Investment Banking': 4, 'Nonprofit Organization Management': 76, 'Libraries': 2, 'Computer Hardware': 35, 'Broadcast Media': 50, 'Printing': 30, 'Graphic Design': 32, 'Entertainment': 74, 'Wholesale': 11, 'Research': 29, 'Animation': 5, 'Government Administration': 22, 'Capital Markets': 5, 'Computer & Network Security': 49, 'Semiconductors': 11, 'Security and Investigations': 30, 'Architecture & Planning': 10, 'Maritime': 3, 'Fund-Raising': 16, 'Higher Education': 11, 'Renewables & Environment': 9, 'Motion Pictures and Film': 6, 'Law Practice': 19, 'Government Relations': 11, 'Packaging and Containers': 5, 'Sporting Goods': 1, 'Mining & Metals': 3, 'Import and Export': 5, 'International Trade and Development': 8, 'Professional Training & Coaching': 14, 'Textiles': 2, 'Commercial Real Estate': 4, 'Law Enforcement': 10, 'Package/Freight Delivery': 5, 'Translation and Localization': 10, 'Photography': 7, 'Industrial Automation': 7, 'Wine and Spirits': 1, 'Public Safety': 7, 'Civil Engineering': 9, 'Military': 2, 'Defense & Space': 9, 'Veterinary': 8, 'Executive Office': 8, 'Performing Arts': 3, 'Individual & Family Services': 9, 'Public Policy': 3, 'Nanotechnology': 2, 'Museums and Institutions': 1, 'Fishery': 4, 'Plastics': 3, 'Furniture': 3, 'Shipbuilding': 1, 'Alternative Dispute Resolution': 1, 'Ranching': 1, 'Tefilin Services': 1, 'Pesach Cleaning Services': 1, 'Succah Building Services': 1, 'Purim Baskets Services': 1, 'Matzah Baking Services': 1}
None

#checking that function worked
industry()


for i in items:
  counts[i] = counts.get(i, 0) + 1

industry()

In [26]:
#print(dfilist)

In [27]:
print(df["industry"])

0                              NaN
1        Marketing and Advertising
2                              NaN
3                Computer Software
4           Hospital & Health Care
                   ...
17875            Computer Software
17876                     Internet
17877                          NaN
17878               Graphic Design
17879            Computer Software
Name: industry, Length: 17880, dtype: object

industry(industry_list)

In [28]:
def get_industry_from_list(x):
        for row in industry_list:
            if row==x:
                return row
        return None

In [36]:
#Page 5: Comparing the Performance
def get_industry_from_list(x):
        for row in industry_list:
            if row==x:
                return row
        return None
import random
ids = [str(random.randint(1000000, 9999999)) for _ in range(10000)]
import time

for each in ids:
    total_time_no_dict=0
    start = time.time()
    get_industry_from_list(each)
    end = time.time()
    total_time_no_dict = end - start
print(total_time_no_dict)    

# for each in ids:
#     total_time_dict=0
#     start = time.time()
#     get_industry_from_dict_fast(each)
#     end = time.time()
#     total_time_dict = end - start

0.0009541511535644531

In [30]:
print(get_industry_from_list('Purim Baskets Services'))
print(get_industry_from_list('Internet'))

Purim Baskets Services
Internet

def get_industry_from_dict_fast(x):   
    if x in industry_count_dict:
      #  print(x)           
      return industry_count_dict[x]
    return None
#print(x)
print(get_industry_from_dict_fast('Purim Baskets Services'))
print(get_industry_from_dict_fast('Internet'))

In [31]:
idict={}
for row in industry_list:
    idict[row] = row


def get_industry_from_dict_fast(x):   
        if x in idict:           
            return idict[x]
        return None

In [32]:
print(get_industry_from_dict_fast('Purim Baskets Services'))
print(get_industry_from_dict_fast('Internet'))

Purim Baskets Services
Internet

In [33]:
print(total_time_no_dict)

0.0

In [37]:
#Page 5: Comparing the Performance
idict={}
for row in industry_list:
    idict[row] = row


def get_industry_from_dict_fast2(x):
        for row in industry_count_dict:
            if row==x:
                return row
        return None
import random
ids = [str(random.randint(1000000, 9999999)) for _ in range(10000)]
import time


for x in ids:
    total_time_dict2=0
    start = time.time()
    get_industry_from_dict_fast2(x)
    end = time.time()
    total_time_dict2 = end - start
print(total_time_dict2)

TypeError: 'NoneType' object is not iterable

In [42]:
idict={}
#for row in industry_list:
 #   idict[row] = row


def get_industry_from_dict_fast1(x):   
        if x in idict:           
            return idict[x]
        return None  
import random
ids = [str(random.randint(1000000, 9999999)) for _ in range(10000)]
import time

for x in ids:
    total_time_dict1=0
    start = time.time()
    get_industry_from_dict_fast1(x)
    end = time.time()
    total_time_dict1 = end - start
print(total_time_dict1)

0.0